# Maven target directory
/target/

# Compiled class files
*.class

# Log files
*.log
*.out
*.err

# Temporary files
*.tmp
*.bak
*.swp
*.swo

# IDE-specific files
# IntelliJ IDEA
/.idea/
/*.iml
/out/

# Eclipse
/.classpath
/.project
/.settings/

# VS Code
/.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Maven-specific files
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
**/mvnw
**/mvnw.cmd

# Spring Boot specific
/*.war
/*.jar

# Test reports
/test-output/
surefire-reports/